<% include ../partials/boilerplate %>
<form method='POST' action='/drinks'>
  <input name='name' type='text' placeholder='name' />
  <input name='rules' type='text' placeholder='link to rules' />
  <input name='type_id' type='number' placeholder='type id' />
  <input type='submit' value='Save' />
</form>
<% include ../partials/end %>